{% extends "base.html"%} {% block main%}
<!--around start-->
<div class="container around">
    <div class="container-fluid head">
        <h3>周边游</h3>
    </div>
    <div class="container-fluid">
        <h3>深秋的灵感</h3>
        <div class="col-md-4 col-sm-6 col-xs-12 around-content">
            <div class="container-fluid">
                <h3 class="text-center">
                    <a href="#1" class="pull-left"><i class="fa fa-heart-o"></i></a> 北京
                </h3>
                <p>没逢深秋时节，就会友很多有人和摄影爱好者前往北京香山，去欣赏那遍布香山的四万多株黄栌原液，这个时候的香山会成为北京驴友的风景符号。那气势如虹，如火如荼的香山活页的秋景也被喻为新的北京十六景之一。</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 around-content">
            <div class="container-fluid">
                <h3 class="text-center">
                    <a href="#1" class="pull-left"><i class="fa fa-heart-o"></i></a> 北京
                </h3>
                <p>没逢深秋时节，就会友很多有人和摄影爱好者前往北京香山，去欣赏那遍布香山的四万多株黄栌原液，这个时候的香山会成为北京驴友的风景符号。那气势如虹，如火如荼的香山活页的秋景也被喻为新的北京十六景之一。</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 around-content">
            <div class="container-fluid">
                <h3 class="text-center">
                    <a href="#1" class="pull-left"><i class="fa fa-heart-o"></i></a> 北京
                </h3>
                <p>没逢深秋时节，就会友很多有人和摄影爱好者前往北京香山，去欣赏那遍布香山的四万多株黄栌原液，这个时候的香山会成为北京驴友的风景符号。那气势如虹，如火如荼的香山活页的秋景也被喻为新的北京十六景之一。</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 around-content">
            <div class="container-fluid">
                <h3 class="text-center">
                    <a href="#1" class="pull-left"><i class="fa fa-heart-o"></i></a> 北京
                </h3>
                <p>没逢深秋时节，就会友很多有人和摄影爱好者前往北京香山，去欣赏那遍布香山的四万多株黄栌原液，这个时候的香山会成为北京驴友的风景符号。那气势如虹，如火如荼的香山活页的秋景也被喻为新的北京十六景之一。</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 around-content">
            <div class="container-fluid">
                <h3 class="text-center">
                    <a href="#1" class="pull-left"><i class="fa fa-heart-o"></i></a> 北京
                </h3>
                <p>没逢深秋时节，就会友很多有人和摄影爱好者前往北京香山，去欣赏那遍布香山的四万多株黄栌原液，这个时候的香山会成为北京驴友的风景符号。那气势如虹，如火如荼的香山活页的秋景也被喻为新的北京十六景之一。</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 around-content">
            <div class="container-fluid">
                <h3 class="text-center">
                    <a href="#1" class="pull-left"><i class="fa fa-heart-o"></i></a> 北京
                </h3>
                <p>没逢深秋时节，就会友很多有人和摄影爱好者前往北京香山，去欣赏那遍布香山的四万多株黄栌原液，这个时候的香山会成为北京驴友的风景符号。那气势如虹，如火如荼的香山活页的秋景也被喻为新的北京十六景之一。</p>
            </div>
        </div>
    </div>
</div>
<!--around end-->

{% endblock%}