{% extends "base.html"%} {% block main%}
<!--tourist start-->
<div class="container tourist">
    <div class="container-fluid head">
        <h3>经典推荐</h3>
    </div>
    <div class="container-fluid title">
        <div class="row">
            <div class="col-sm-2  col-xs-12 tourist-1">
                <h4>热门景点</h4>
            </div>
            <div class="col-sm-2 col-sm-offset-8 search col-xs-4 col-xs-offset-8">
                <input type="text" placeholder="Category Filter">
                <a href="#1"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-4 col-sm-6 col-xs-12 content">
            <img src="static/images/gallery/p1.jpg" class="img-responsive">
            <div class="container-fluid introduce">
                <h4>汉堡</h4>
                <p>用它的闲庭漫步和货色声响，抚慰着人们孤独的灵魂</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 content">
            <img src="static/images/gallery/p2.jpg" class="img-responsive">
            <div class="container-fluid introduce">
                <h4>汉堡</h4>
                <p>用它的闲庭漫步和货色声响，抚慰着人们孤独的灵魂</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 content">
            <img src="static/images/gallery/p3.jpg" class="img-responsive">
            <div class="container-fluid introduce">
                <h4>汉堡</h4>
                <p>用它的闲庭漫步和货色声响，抚慰着人们孤独的灵魂</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 content">
            <img src="static/images/gallery/p4.jpg" class="img-responsive">
            <div class="container-fluid introduce">
                <h4>汉堡</h4>
                <p>用它的闲庭漫步和货色声响，抚慰着人们孤独的灵魂</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 content">
            <img src="static/images/gallery/p5.jpg" class="img-responsive">
            <div class="container-fluid introduce">
                <h4>汉堡</h4>
                <p>用它的闲庭漫步和货色声响，抚慰着人们孤独的灵魂</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 content">
            <img src="static/images/gallery/p6.jpg" class="img-responsive">
            <div class="container-fluid introduce">
                <h4>汉堡</h4>
                <p>用它的闲庭漫步和货色声响，抚慰着人们孤独的灵魂</p>
            </div>
        </div>

    </div>
</div>
<!--tourist end-->
{% endblock %}