{% extends "base.html"%} {% block main%}
<!--travel start-->
<div class="container travel">
    <div class="container-fluid">
        <h3>自驾游规划</h3>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <p>走过了很多风景名胜，看过了恩多传说中的风景，往往成为过眼云烟。或许是因为华丽词藻有些夸大其实，或许本俩就是传说中的美丽，所以有了听景不如看景的概论，尼还在等什么，快快心动把。</p>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">您的姓名：</label>
                            <input type="email" class="form-control" id="exampleInputEmail1">
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <div class="form-group">
                            <label for="exampleInputEmail2">您的年龄：</label>
                            <input type="email" class="form-control" id="exampleInputEmail2">
                        </div>
                    </div>
                    <div class="col-md-4 hidden-sm hidden-xs">
                        <div class="form-group">
                            <label for="exampleInputEmail3">希望去的地方：</label>
                            <input type="email" class="form-control" id="exampleInputEmail3">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail4">留言：</label>
                    <textarea class="form-control" rows="8" id="exampleInputEmail4"></textarea>
                </div>
                <button type="submit" class="btn btn-default">发送消息</button>
            </div>
            <div class="col-md-4 contact">
                <h3>联系我们</h3>
                <p><span><i class="fa fa-map-marker">地址：</i></span>120 Nullam viverra dolor</p>
                <p><span><i class="fa fa-map-marker">地址：</i></span>120 Nullam viverra dolor</p>
                <p><span><i class="fa fa-map-marker">地址：</i></span>120 Nullam viverra dolor</p>
            </div>
        </div>
    </div>

</div>
<!--travel end-->
{% endblock %}