.travel {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px 0;
}

.head {
    border-bottom: 1px solid rgb(167, 30, 43)
}

.travel .row {
    margin-top: 20px;
}

.contact span {
    color: rgb(167, 30, 43);
    margin-top: 16px;
}

.contact p:nth-child(2) {
    margin-top: 16px;
}

.btn {
    background: rgb(217, 83, 79);
    border: none;
    color: white;
    margin-bottom: 10px;
}